"*":
  editor:
    tabLength: 4
    softWrap: true
    invisibles: {}
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "__pycache__"
      "*.pyc"
    ]
  "exception-reporting":
    userId: "345c7f03-03bc-b1a6-5af0-367804d36823"
  welcome:
    showOnStartup: false
  "markdown-preview":
    breakOnSingleNewline: true
  jsformat: {}
  linter: {}
  "linter-jshint": {}
  emmet: {}
  "django-templates": {}
  "tree-view":
    hideIgnoredNames: true
  "linter-flake8": {}
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
