"*":
  core:
    audioBeep: false
    customFileTypes:
        'text.xml': ['marcxml']
    disabledPackages: [
      "linter-flake8"
      "linter-scss-lint"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "__pycache__"
      "*.pyc"
      ".unison"
      ".svn"
      ".hg"
      "CVS"
      ".AppleDouble"
      ".LSOverride"
      ".Spotlight-V100"
      ".Trashes"
      "Thumbs.db"
      "desktop.ini"
      "*.lock"
      "*.sock"
      "*.pid"
      "*.sw?"
      ".unison*"
      "._*"
      "*~"
    ]
    projectHome: "/Users/phette23/code"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    lineHeight: 1.3
    softWrap: true
    tabLength: 4
  emmet:
    extensionsPath: "~/.config/emmet"
  "exception-reporting":
    userId: "345c7f03-03bc-b1a6-5af0-367804d36823"
  "git-plus": {}
  jsformat:
    format_on_save: false
  "language-babel": {}
  linter:
    lintOnFly: false
  "linter-flake8":
    executableDir: "/usr/local/bin"
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-xmllint": {}
  "markdown-preview":
    breakOnSingleNewline: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
