# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'.source.js':
    'Console.log':
        'prefix': 'cl'
        'body': 'console.log($1)'
'.text.plain':
    'All College Honors app':
        'prefix': 'ach'
        'body': 'VAULT Access to CCA All College Honors Applications\n\nHello ${1:givenname},\n\nThank you for agreeing to judge California College of the Arts\' All College Honors competition in the category of ${2}. All College Honors applications are hosted in VAULT, CCA\'s digital archive. You have been given a temporary login to VAULT with the following credentials:\n\nUsername: achjuror${3}\nPassword: ${4}\n\nHere is a direct link to the applications you are judging. The account is associated with your email address and you can change the password if you like. Please feel free to contact me at this email address or 510-594-3660 with any questions regarding VAULT or accessing applications.\n\n'
